# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env/
.venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python distribution files
build/
dist/
*.egg-info/

# Temporary files
*.log